.item-add-form {
    display: flex;
    height: 66px;
    width: 100%;
}

.form-control {
    font-size: 24px;
    font-style: italic;
    padding: 16px 16px 16px 60px;
    width: 100%;
    border: none;
    line-height: 1.4em;
    box-shadow: rgba(0, 0, 0, 0.03) 0px -2px 1px inset;
}

/* .addtimer-container {
    display: flex;
    width: 30%;
    justify-content: flex-end;
} */

.addtimer-item {
    border: none;
    font-size: 24px;
    width: 20%;
    font-style: italic;
}

.kostil {
    display: none;
}

.error {
    background-color: rgb(218, 130, 130);
}